<form class="form-horizontal">
  
<fieldset>
<legend>Login</legend>

<div class="control-group">
<label class="control-label" for="username">Username</label>

<div class="controls">
  <input id="username" name="username" type="text" placeholder="ex. bigchungus" class="input-xlarge">
</div>
</div>

<div class="control-group">
<label class="control-label" for="password">Password</label>

<div class="controls">
  <input id="password" name="password" type="password" placeholder="ex. $tr0ngP@ssw07d" class="input-xlarge">
</div>
</div>

<div class="control-group">
<label class="control-label" for="submit"></label>
<div class="controls">
  <button id="submit" name="submit" class="btn btn-danger">Submit</button>
</div>
</div>

</fieldset>
</form>