<!-- https://html-css-js.com/css/generator/box-shadow/ -->

<style>
#title {
    background-color: #008f67;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 16px 18px 6px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 16px 18px 6px 5px rgba(0,0,0,0);
    min-width: 250px;
    height: 35px;
    text-align: center;
    font-size: 25px;
    padding: 11;
    color: #ffffff;
}
#message {
    background-color: #007955;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 16px 18px 6px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 16px 18px 6px 5px rgba(0,0,0,0);
    min-height: 35px;
    text-align: left;
    font-size: 16px;
    padding: 16;
    color: #ffffff;
}
#author {
    padding: 0;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
hr {
    width: 50%;
}
#box_response {
    width: 35%;
    height: 25%;
}
</style>

<% insert.forEach(insert => { %>

    <% if(insert.title !== undefined) { %>
        <div id="title"><%= insert.title %></div>
        <hr>

    <% } else if (insert.author !== undefined) { %>
        <div id="message">
        <div id="author"><%= insert.author %></div>
            <br><%= insert.text %>
        </div>
        <hr>
    <% } %>

<% }); %>

<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Add message to topic.</legend>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="response"></label>
      <div class="col-md-4">                     
        <textarea id="box_response" class="form-control" id="response" name="response"></textarea>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="post"></label>
      <div class="col-md-4">
        <button id="post" name="post" class="btn btn-primary">Post</button>
      </div>
    </div>
    
    </fieldset>
</form>

<form class="form-horizontal">
    <fieldset>
    <div class="control-group">
      <div class="controls">
        <a href="/subscribe/<%insert.forEach(insert=>{%><%if(insert.title!==undefined){%><%=insert.title%><%}%><%});%>">Subscribe</a></div>
        <!-- this may work -->
      </div>
    </div>
    </fieldset>
</form>
    
    